<div class="container">
  <div class="row mt-2">
    <div class="col-md-6 mt-3">
      <div class="card">
        <div class="card-header">Registra tu asistencia</div>
        <div class="card-body">
            <div class="form-group">
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="nombre" name="nombre" placeholder="Ingrese su nombre">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="apellidos" name="apellidos" placeholder="Ingrese sus apellidos...">
                    </div>
                    <div class="input-group mb-3 d-flex justify-content-between">
                            <div class="col-md-6">
                                <label for="hora" >Registra su hora de entrada</label>
                            </div>
                            <div class="col-md-6">
                            <input type="time" class="form-control" [(ngModel)]="hora" name="hora" placeholder="Registre su hora de entrada...">
                            </div>  
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="area" name="area" placeholder="Area a la que pertenece...">
                    </div>
                    <div class="input-group mb-3">
                        <button type="button" class="form-control btn btn-outline-primary" (click)="registrarAsistencia()">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>

    
    <div class="col-md-6 mt-3">
      <div class="card">
          <div class="card-header">Empleados</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr> 
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Hora Entrada</th>
                        <th>Area a la que pertenece</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of listaEmpleados; let i=index">
                        <td> {{i+1}} </td>
                        <td> {{empleado.nombre}} </td>
                        <td> {{empleado.apellidos}} </td>
                        <td> {{empleado.hora}} </td>
                        <td class="d-flex justify-content-between"> {{empleado.area}} 
                            <button class="btn btn-danger" (click)="eliminarEmpleado(i)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
